/* Your app styles here */
.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.preloader-modal {
  border-radius: 25px !important;
}

.panel {
  border: none !important;
  border-radius: 0 !important;
}

#menu .item-inner:after {
  display: none;
}

#menu .item-title {
  font-size: 16px;
}

.md .list .accordion-item-opened>.item-link .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20width%3D'13px'%20height%3D'8px'%20viewBox%3D'0%200%208%2013'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'><polygon%20fill%3D'%23c7c7cc'%20transform%3D'translate(6.5%2C%206.5)%20rotate(-315)%20translate(-10%2C%20-6.5)'%20points%3D'11%2011%2011%202%209%202%209%209%202%209%202%2011%2010%2011'><%2Fpolygon><%2Fsvg>");
  background-size: 13px 13px;
}

.ag-theme-material {
  clear: both;
}

.ag-theme-material .ag-ltr .ag-cell-focus {
  border: none;
}

.ag-overlay-no-rows-center {
  display: none;
}

.card-header {
  min-height: 120px !important;
}
.data-table tbody tr:hover {
  cursor: pointer;
}
.card-header .data-table-title .button {
  margin-top: 16px;
}

.ag-theme-material .ag-icon-checkbox-checked:empty {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE2IDBIMmEyIDIgMCAwIDAtMiAydjE0YTIgMiAwIDAgMCAyIDJoMTRhMiAyIDAgMCAwIDItMlYyYTIgMiAwIDAgMC0yLTJ6TTcgMTRMMiA5bDEuNDEtMS40MUw3IDExLjE3bDcuNTktNy41OUwxNiA1bC05IDl6IiBmaWxsPSIjMzMzIi8+PC9zdmc+);
}

/*.ag-theme-material .ag-header-row {
  width: 100% !important;
}*/

/*.ag-body-container {
  width: 100% !important;
}*/

.ag-theme-material .ag-cell {
  outline: none;
}

.ag-filter {
  width: 207px;
}

#clearButton, #applyButton {
  font-weight: 500;
  outline: none;
}

.ag-filter-select {
  margin-top: 4px !important;
  margin-bottom: 8px !important;
}

.ag-filter-apply-panel {
  padding-top: 2px !important;
}

.form-sheet:after {
  content: "";
  display: table;
  clear: both;
}

.card-content .item-label {
  font-size: 15px !important;
}

.card-content .item-input-wrap {
  width: 250px !important;
}

.ag-header-cell-menu-button {
  opacity: 1 !important;
  transition: opacity 0.2s ease 0s, border 0.2s ease 0s !important;
}

/*.ag-header-cell-resize {
  padding-left: 15px;
}*/

/*.ag-row, .ag-header-row {
  width: 150% !important;
}*/

.left.user-link {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0!important
}

.left.user-link .list {
    margin: 0
}

.left.user-link .list ul {
    background: 0 0
}

.left.user-link .list ul:before {
    display: none!important
}

.left.user-link .list ul:after {
    display: none!important
}

.left.user-link .item-inner {
    padding-top: 4px;
    padding-bottom: 4px
}

.left.user-link .item-media {
    padding: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.left.user-link .list,.left.user-link li,.left.user-link ul {
    height: 100%;
    width: 100%
}

.left.user-link .item-content,.left.user-link .item-link {
    height: 100%
}

.ios .user-link .item-link.active-state {
    background-color: rgba(0,0,0,.1)
}

.ios .user-link .item-title {
    font-size: 16px
}

.ios .user-link .item-content {
    padding-left: 10px
}

.ios .user-link .item-media+.item-inner {
    margin-left: 10px
}

div:focus {
    outline: none;
}

.selectivity-caret {
    top: 0.6em;
}

.selectivity-remove {
    color: #212121;
    margin-right: 5px;
}

.selectivity-multi-remove {
    color: #fff;
    position: relative;
    margin-right: 0px;
    top: 5px;
}

.selectivity-single-select {
    background-color: unset;
}
.selectivity-multiple-input-container {
    background-color: unset;
}

.selectivity-dropdown {
    position: unset;
}

.ag-theme-material .ag-cell-inline-editing {
    max-width: 400px;
    height: auto;
}
.ag-theme-material .ag-cell-inline-editing.editable-special-cell {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 3px;
}

.ag-theme-material .ag-paging-panel {
    border-top: none;
}

.ag-react-container .selectivity-single-select {
    display: none;
}

.ag-react-container .selectivity-multiple-input-container {
    display: none;
}

.UL_1 {
    margin: 12px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 30px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 140.5px 15px;
    transform-origin: 140.5px 15px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 18px 0px 0px;
}/*.UL_1*/

.UL_1:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.UL_1:after*/

.UL_1:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.UL_1:before*/

.LI_2 {
    border-radius: 3px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 30px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 125px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 62.5px 15px;
    transform-origin: 62.5px 15px;
    caret-color: rgb(51, 51, 51);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px -18px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_2*/

.LI_2:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_2:after*/

.LI_2:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_2:before*/

.SPAN_3 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(76, 76, 76);
    display: inline-block;
    height: 29px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(76, 76, 76);
    text-shadow: rgb(252, 252, 252) 0px 1px 1px, rgb(222, 222, 222) 0px -1px 1px;
    text-size-adjust: 100%;
    top: 0px;
    white-space: nowrap;
    width: 110px;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 55px 14.5px;
    transform-origin: 55px 14.5px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-radius: 3.25px 3.25px 3.25px 3.25px;
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(76, 76, 76) none 0px;
    padding: 7px 7px 7px 14px;
}/*.SPAN_3*/

.SPAN_3:after {
    box-sizing: border-box;
    color: rgb(76, 76, 76);
    text-align: center;
    text-decoration: none solid rgb(76, 76, 76);
    text-shadow: rgb(252, 252, 252) 0px 1px 1px, rgb(222, 222, 222) 0px -1px 1px;
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(76, 76, 76);
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(76, 76, 76) none 0px;
}/*.SPAN_3:after*/

.SPAN_3:before {
    box-sizing: border-box;
    color: rgb(76, 76, 76);
    text-align: center;
    text-decoration: none solid rgb(76, 76, 76);
    text-shadow: rgb(252, 252, 252) 0px 1px 1px, rgb(222, 222, 222) 0px -1px 1px;
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(76, 76, 76);
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(76, 76, 76) none 0px;
}/*.SPAN_3:before*/

.SPAN_4, .SPAN_8 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 30px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: top;
    width: 17px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 8.5px 15px;
    transform-origin: 8.5px 15px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -5px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*.SPAN_4, .SPAN_8*/

.SPAN_4:after, .SPAN_8:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_4:after, .SPAN_8:after*/

.SPAN_4:before, .SPAN_8:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_4:before, .SPAN_8:before*/

.SPAN_5, .SPAN_9 {
    bottom: 0px;
    box-shadow: rgba(255, 255, 255, 0.2) -1px 1px 2px 0px, rgba(0, 0, 0, 0.2) -1px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 24px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    width: 24px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 12px 12px;
    transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 0, 0);
    transform-origin: 12px 12px;
    caret-color: rgb(51, 51, 51);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 3px 0px 0px -12px;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_5, .SPAN_9*/

.SPAN_5:after, .SPAN_9:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_5:after, .SPAN_9:after*/

.SPAN_5:before, .SPAN_9:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_5:before, .SPAN_9:before*/

.LI_6 {
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 30px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 52px 15px;
    transform-origin: 52px 15px;
    caret-color: rgb(51, 51, 51);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px -18px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_6*/

.LI_6:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_6:after*/

.LI_6:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_6:before*/

.SPAN_7 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(76, 76, 76);
    display: inline-block;
    height: 29px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(76, 76, 76);
    text-shadow: rgb(252, 252, 252) 0px 1px 1px, rgb(222, 222, 222) 0px -1px 1px;
    text-size-adjust: 100%;
    top: 0px;
    white-space: nowrap;
    width: 89px;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 44.5px 14.5px;
    transform-origin: 44.5px 14.5px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-radius: 3.25px 3.25px 3.25px 3.25px;
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(76, 76, 76) none 0px;
    padding: 7px 7px 7px 24px;
}/*.SPAN_7*/

.SPAN_7:after {
    box-sizing: border-box;
    color: rgb(76, 76, 76);
    text-align: center;
    text-decoration: none solid rgb(76, 76, 76);
    text-shadow: rgb(252, 252, 252) 0px 1px 1px, rgb(222, 222, 222) 0px -1px 1px;
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(76, 76, 76);
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(76, 76, 76) none 0px;
}/*.SPAN_7:after*/

.SPAN_7:before {
    box-sizing: border-box;
    color: rgb(76, 76, 76);
    text-align: center;
    text-decoration: none solid rgb(76, 76, 76);
    text-shadow: rgb(252, 252, 252) 0px 1px 1px, rgb(222, 222, 222) 0px -1px 1px;
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(76, 76, 76);
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(76, 76, 76) none 0px;
}/*.SPAN_7:before*/

.LI_10 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 30px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 82px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 41px 15px;
    transform-origin: 41px 15px;
    caret-color: rgb(51, 51, 51);
    background: rgb(56, 180, 74) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(56, 180, 74);
    border-right: 1px solid rgb(56, 180, 74);
    border-bottom: 0px none rgb(56, 180, 74);
    border-left: 0px none rgb(56, 180, 74);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px -18px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_10*/

.LI_10:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_10:after*/

.LI_10:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_10:before*/

.SPAN_11 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 29px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgb(56, 180, 74) 0px 1px 1px, rgb(56, 180, 74) 0px -1px 1px;
    text-size-adjust: 100%;
    top: 0px;
    white-space: nowrap;
    width: 81px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 40.5px 14.5px;
    transform-origin: 40.5px 14.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-radius: 3.25px 3.25px 3.25px 3.25px;
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 7px 14px 7px 24px;
}/*.SPAN_11*/

.SPAN_11:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgb(56, 180, 74) 0px 1px 1px, rgb(56, 180, 74) 0px -1px 1px;
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*.SPAN_11:after*/

.SPAN_11:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgb(56, 180, 74) 0px 1px 1px, rgb(56, 180, 74) 0px -1px 1px;
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / normal Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*.SPAN_11:before*/

.SPAN_12 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: none;
    height: 30px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: top;
    width: 17px;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -5px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*.SPAN_12*/

.SPAN_12:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_12:after*/

.SPAN_12:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_12:before*/

.SPAN_13 {
    box-shadow: rgba(255, 255, 255, 0.2) -1px 1px 2px 0px, rgba(0, 0, 0, 0.2) -1px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 24px;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 24px;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    background: rgb(56, 180, 74) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(56, 180, 74);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 3px 0px 0px -12px;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_13*/

.SPAN_13:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_13:after*/

.SPAN_13:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / 18.5714px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_13:before*/

.rapyd-statusbars {
  display: block;
  float: right;
  width: auto;
  margin: 10px;
  color: #fff !important;
}

.rapyd-statusbar-arrow {
  font-size: 20px;
  margin-top: 12px;
  margin-left: 0px;
  margin-right: 0px;
}
