[class*='RaLabeled-value-'] .MuiFilledInput-inputMarginDense {
  padding-top: 12px;
}

.MuiFormLabel-root {
  font-size: 20px!important;
}

[class*='RaToolbar-spacer-'] {
  display: none;
}

div[class*='RaLabeled-value-'] {
  padding-top: 4px;
}

div[class*='RaTopToolbar-root-'] > a[aria-label='Show'] {
  display: none;
}
